{% extends 'base.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
    <div class="homeMain">
        {% if user.is_authenticated %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <h6>Hello {{ user.username }}</h3>
          </div>
        <div>
        {% endif %}
        {% comment %}VALIDATION{% endcomment %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} 
        {% comment %}VALIDATION{% endcomment %}
        {% if not user.is_authenticated %}
        <h1> SIGN IN AND START USING TODAY!!
        {% endif %} 

        </div>
        <div>
        <div class="main">
            <p>Home</p>
        </div>
{% endblock %}
