{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}
    The Vault
{% endblock %}

{% block header %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="vaultBanner">
    </div>
    <div class="main">
        <div class="tableBox">
            {% if not user.profile.vault_locked%}
            <div class="table">
                <div id='webName'>
                    <p class="graphTitle">Website name</p>
                    <ul>
                        {% for password in passwords %}
                            <li><p class="graphText">{{ password.website_name }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='webUsername'>
                    <p class="graphTitle">Username</p>
                    <ul>
                        {% for password in passwords %}
                            <li><p class="graphText">{{password.username}}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='webPassword'>
                    <h1 class="graphTitle">Password</h1>
                    <ul>
                        <div id="passwordTable">
                            {% for password in passwords %}
                            <li class="passwordBox">
                                <a href="{% url 'copy_password' password_id=password.id %}">Copy Password</a>
                                <a href="{% url 'delete_password' password_id=password.id %}" id="passIconBox">
                                    <img class="passwordIcon" id="passIcon" src="{% static 'vault/Trashcan.png' %}">
                                </a>
                            </li>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if user.profile.vault_locked%}
                <img id="vaultImg" src="{% static 'vault/Vaultdoors.png' %}">
            {% endif %}
        </div>
            <div class="buttonBox">
                <div class="buttonBoxTitle">
                    <h1 id="vaultTitle">THE VAULT<h1>
                </div>
                <div class="addForm">
                    <form action="/vault" method="post">
                        {% csrf_token %}
                        <h4 id="addFormBoxTitle">Add To Vault</h4>
                        <li >
                            <div class="addFormBox">
                                {{infoForm.website_name}}
                            <span></span>
                            </div>
                        </li>
                        <li >
                            <div class="addFormBox">
                                {{infoForm.username}}
                            <span></span>
                            </div>
                        </li>
                        <li >
                            <div class="addFormBox">
                                {{infoForm.website_password}}
                            <span></span>
                            </div>
                        </li>
                        <input id="addPasswordButton" type="submit" value="Add Password">
                    </form>
                </div>

                {% if user.profile.vault_locked%}
                <div class="buttons">
                    <h4 id="master_input_title">Unlock The Vault</h4>
                    <form action="/vault_unlock" method="post">
                        {% csrf_token %}
                        <li>
                            <div class="addFormBox">
                                <input type="password" name="master_password" id="input_master_password" maxlength="50" required="" placeholder="Enter Master Password">
                                <span></span>
                            </div>
                        </li>
                        <input id="addPasswordButton" type="submit" value="Submit">
                    </form>
                </div>
                {% endif %}

                {% if not user.profile.vault_locked%}
                <div class="buttons" id="buttons-locked">
                    <form action="/vault_lock" method="post">
                        {% csrf_token %}
                        <button class="metal radial"><h3 id="radialButtonText">Lock</h3></button>
                    </form>
                </div>
                {% endif %}

                <div class="messageBox">
                    <div class="tvScreen">
                        <ul class="vault_messages" id="vaultMessagesContainer">
                            {% if messages %}
                                {% for message in messages %}
                                    <h3><li{% if message.tags == 'vault' %} class="{{ message.tags.error }}"{% endif %}>{{ message }}</li></h3>
                                {% endfor %}
                             {% endif %} 
                        </ul>

                    </div>
                </div>
            </div>
    </div> 
    {% block scripts %}
    <script>
        setTimeout(function() {
            var vaultMessagesContainer = document.getElementById("vaultMessagesContainer");
            vaultMessagesContainer.style.transition = "opacity 0.5s";
            vaultMessagesContainer.style.opacity = "0";
            
            setTimeout(function() {
                vaultMessagesContainer.style.display = "none";
            }, 125);
        }, 1500);
    </script>
    {% endblock %}
{% endblock %}



