{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}
    The Vault
{% endblock %}

{% block content %}
    <div class="vaultBanner">
    </div>
    <div class="main">
        <div class="tableBox">
            <div class="table">
                <div id='webName'>
                    <p class="graphTitle">Website name</p>
                    <ul>
                        {% for password in passwords %}
                            <li><p class="graphText">{{ password.website_name }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='webUsername'>
                    <p class="graphTitle">Username</p>
                    <ul>
                        {% for password in passwords %}
                            <li><p class="graphText">{{password.username}}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='webPassword'>
                    <h1 class="graphTitle">Password</h1>
                    <ul>
                        <div id="passwordTable">
                            {% for password in passwords %}
                            <li class="passwordBox">
                                <a href="{% url 'copy_password' password_id=password.id %}">Copy Password</a>
                                <a id="passIconBox">
                                    <img class="passwordIcon" id="passIcon" src="{% static 'vault/PasswordHidden.png' %}">
                                </a>
                            </li>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
            <div class="buttonBox">
                <div class="buttonBoxTitle">
                    <h1 id="vaultTitle">THE VAULT<h1>
                </div>
                <div class="addForm">
                    <form action="/vault" method="post">
                        {% csrf_token %}
                        <h4 id="addFormBoxTitle">Add To Vault</h4>
                        <li >
                            <div class="addFormBox">
                                {{infoForm.website_name}}
                            <span></span>
                            </div>
                        </li>
                        <li >
                            <div class="addFormBox">
                                {{infoForm.username}}
                            <span></span>
                            </div>
                        </li>
                        <li >
                            <div class="addFormBox">
                                {{infoForm.website_password}}
                            <span></span>
                            </div>
                        </li>
                        <input id="addPasswordButton" type="submit" value="Add Password">
                    </form>
                </div>
                <div class="buttons">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags == 'vault' %} class="{{ message.tags.error }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} 
                </div>
            </div>
    </div> 
{% endblock %}



