#homeMain{
    height: 100%;
    background-color: #7fa3fb
}
#mainBox{
  display: flex;
  flex-direction: row;
  background-color: #7fa3fb;
}

#masterPassBox{
  margin-left: 8vh;
  height: 60vh;
  margin-top: 10vh;
  width: 30%;
  background-color: #1f2430;
  border-radius: 14px;
  border: 10px solid darkcyan;
}

#homeAlert{
    padding: 5px;
    border: 0px solid transparent;
    border-radius: 4px;
    font-size: medium;
    text-align: center;
    background: cornflowerblue;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }